{% extends "base.html" %}

{% block content %}
  <div class="jumbotron text-center">
    <h2 style="font-size: 3rem; font-weight: bold;">
      Lavanderia Cachoeira
    </h2>
    <h3>
      Suas roupas merecem o melhor cuidado
    </h3>
    <p>
      Entre em contato pelo WhatsApp </p>
    <p>
      <a href="https://wa.me/553591064793" target="_blank" class="btn btn-success">
        <i class="fa fa-whatsapp"></i> Enviar mensagem
      </a>
    </p>
    <p>
      Atendimento em Cachoeira de Minas e Conceição dos Ouros </p>
    <p>
      📍 Rua Bolivar Prado, 93, Centro, Cachoeira de Minas - MG
    </p>
    <div>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d922.4819558395103!2d-45.7790758!3d-22.356354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb9766ad8c287b%3A0x2d727f7c9a53e9f9!2sLavanderia%20Cachoeira!5e0!3m2!1spt-BR!2sae!4v1727024384991!5m2!1spt-BR!2sae" 
        width="300" 
        height="225" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
{% endblock content %}
