{% extends "base.html" %}

{% block content %}
  <div class="jumbotron text-center">
    <h2 style="font-size: 3rem; font-weight: bold;">
      LAVE APP
    </h2>
    <h3>
      TRABALHO DE CONCLUSÃO DE CURSO II
    </h3>
    <p>
      Entre em contato pelo WhatsApp </p>
    <p>
      <a href="https://wa.me/971508832445" target="_blank" class="btn btn-success">
        <i class="fa fa-whatsapp"></i> Enviar mensagem
      </a>
    </p>
    <p>
      IGOR AUGUSTO DE OLIVEIRA SILVA - RA - 22138119-5    </p>
    <p>
      📍 Oud Metha Offices Building, 1st floor GRG Business Center - Dubai
    </p>
    <div>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6132.939796125026!2d55.319745675382855!3d25.227818777691308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f438c785b677b%3A0xec52ea074a5b59e9!2sUnicesumar%20-%20Dubai!5e1!3m2!1spt-BR!2sae!4v1731521155884!5m2!1spt-BR!2sae"
        width="300" 
        height="225" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
{% endblock content %}
